body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.saman-class-education {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.saman-class-education h1 {
    color: #333;
    margin-bottom: 20px;
}

.saman-class-education-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.saman-class-education-table th,
.saman-class-education-table td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: left;
    }
    
    .saman-class-education-table th {
    background-color: #366a6e;
    color: #fff;
    }
    
    .saman-class-education-table td ul {
    padding-left: 20px;
    }
    
    .saman-class-education-table td ul li {
    list-style-type: disc;
    margin: 5px 0;
    }
    
    .saman-class-education-table td ul li ul {
    list-style-type: circle;
    margin-top: 5px;
    }
    
 
    @media only screen and (max-width: 768px) {
    .saman-class-education {
    width: 92%;
    }
  
    .saman-class-education-table th,
    .saman-class-education-table td {
        padding: 10px;
    }
    
    .saman-class-education-table,
    .saman-class-education-table th,
    .saman-class-education-table td {
        font-size: 90%;
        width: 90%;
    }
    }