body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

.saman-class-main {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.saman-class-skills {
    text-align: center;
}
.saman-class-skills h1{
    margin: 7%;
    background-color: lightgrey;
}

.saman-class-skill-item {
    margin-bottom: 30px;
}

.saman-class-skill-item img {
    width: 100px; 
}

.saman-class-skill-item h2 {
    color: #333;
    margin: 10px 0;
}

.saman-class-skill-item p {
    font-size: 16px;
    color: #666;
}

.saman-class-skill-item ul {
    list-style: inside square;
    text-align: left;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .saman-class-main {
        width: 95%;
        padding: 0 20px;
    }

    .saman-class-skill-item img {
        width: 80px; 
    }

    .saman-class-skill-item h2 {
        font-size: 1.5em; 
    }

    .saman-class-skill-item p,
    .saman-class-skill-item ul {
        font-size: 14px;
    }
}
