body, h1, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}
h1 {

    font-size: 3rem;
}
p {
font-size: 20px;
}

ul {
    list-style: disc;

}

a:active {
    color: purple;
  }

  a:hover {
    color: black;
  }

a {

    text-decoration: none;
    color: #000;
}

/* Navigation styles */
nav ul {

    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    padding-right: 3rem;
    list-style: disc;
    background-color: #366a6e;
}

nav ul li {
    color: white;
    font-size: 20px;
    margin-left: 40px;
}

nav ul li a {
    color: white;
}



.saman-contact-button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    margin-top: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.saman-class-footer {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
    padding: 20px;
    background-color: #366a6e;
    color: white;
}

.footer-container {
    display: flex;
    width: 100%; 
}
.footer-column {
    flex: 1; 
    padding: 10px; 
    box-sizing: border-box;
    text-align: center;
}

.footer-column a {
    color: white; 
    text-decoration: none; 
}


.saman-class-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    height: calc(100vh - 100px); 
    background-color: #f4f4f4;
}

.saman-text-container {
    max-width: 50%;
}

.saman-image-container img {
   
    border-radius: 50%;
    max-width: 60%;
    height: auto;
    margin-left: 30%;
}
.saman-class-footer{
    position: relative;
    padding: 20px;
    background-color: #366a6e;

}




.saman-class-rights{
    color: white;
font-size: 20px;
padding-left: 500px;
align-items: center;

}

/* Mobile styles */
@media only screen and (max-width: 1000px) {
    /* Adjust navigation for mobile */
    nav ul {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        padding-left: 2rem;
    }

    nav ul li {
        margin-left: 0;
        margin-top: 10px;
    }

    .saman-class-intro {
        flex-direction: column;
        text-align: center;
    }

    .saman-text-container {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .saman-image-container img {
        display: none;
        width: 70%;
    }

    
    .footer-container {
        flex-direction: column; 
    }

    .footer-column {
        width: 100%; 
        text-align: center; 
    }

    .saman-class-rights {
        padding-left: 0; 
    }

}





/* style.css */
.nav-link {
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #007bff;
}

.saman-class-intro h1 span {
    color: #007bff;
}

.saman-class-intro .saman-contact-button {
    transition: background-color 0.3s ease;
}

.saman-class-intro .saman-contact-button:hover {
    background-color: #0056b3;
}

footer .text-center a {
    color: #007bff;
    transition: color 0.3s ease;
}
